{% extends 'layout.html.twig' %}

{% block content %}
    <style>

    </style>

    <h1>Hello Confiné(e) !</h1>

    <form method = "post" action = "" >
        <label for="answer">Sauras-tu deviner dans quel pays se situe ce paysage ?</label>
        <input id="answer" name="answer" required>
        <button>J'ai trouvé !</button>
    </form>
{% endblock %}


