{% extends 'layout.html.twig'%}
{% block content %}
    <style>

        body {
            text-align: center;
            background-image: url("https://cdn.discordapp.com/attachments/696352374767485018/705350700670124122/maps.png");
            font-family: 'Josefin Sans', sans-serif;
        }

        .title {
            color: yellow;
            background-image: url("https://cdn.discordapp.com/attachments/696352374767485018/705371028674707476/Capture_decran_2020-04-30_a_12.49.42.png");
            max-width: 750px;
            max-height: 300px;
            display: inline-block;
            vertical-align: middle;
            line-height: 90px;
        }

        .rainbow{
            background-color: #343A40;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            padding: 8px 16px;

        }

        .rainbow-1:hover{
            background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
            animation:slidebg 5s linear infinite;
        }

        .label {
            font-size: 25px;
        }

        .win {
            font-size: 25px;
            color: green;
        }

        .flex {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 30px;
            margin-bottom: 30px;

        }

        @keyframes slidebg {
            to {
                background-position:20vw;
            }
        }
    </style>

    <script>

    </script>


    <div class="title"><h1>Hello Wilde(use)r Confiné(e) ! <br>
        Prêt(e) à voyager depuis ton canapé ?</h1></div>


    {% if win %}
     <div class="flex">
        <div class="win">C'est gagné ! Bravo ! Continue de voyager depuis ton canapé !
        <img src="https://media1.tenor.com/images/ee59326e980dc3b964074f35437a009b/tenor.gif?itemid=5034430">
        </div>
     </div>
    {% endif %}


    <form method="post" action="/windy/check" name="questionform">
        <input type="hidden" value="{{ country }}" name="country">
        <label class="label" for="answer" >Sauras-tu deviner dans quel pays se situe ce paysage ?</label>
        <input type="text" id="answer" name="answer" class="field-long" required> <span class="error" id="errorname"></span>
        <button  class=" button rainbow rainbow-1 "  > J'ai trouvé ! </button>
    </form>

    <iframe src="{{ iframe_src }}" height="600" width = "750"></iframe>

{% endblock %}