{% extends 'layout.html.twig'%}
{% block content %}
    <style>

        body {
            text-align: center;
        }

        .rainbow{
            background-color: #343A40;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            padding: 8px 16px;

        }

        .rainbow-1:hover{
            background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
            animation:slidebg 5s linear infinite;
        }

        @keyframes slidebg {
            to {
                background-position:20vw;
            }
        }
    </style>

    <script>
    function validateForm()
    {
        var name = document.forms["questionform"]["answer"];
        if (name.value === ""){
            document.getElementById('errorname').innerHTML="Oups ! Pays incorrect ! Try again !";
            name.focus();
            return false;
        }else{
            document.getElementById('errorname').innerHTML="";
        }
    }
    </script>


    <h1>Hello Wilde(use)r Confiné(e) !</h1>

{% if win %}
    Gagné !
{% endif %}

    <form method="post" action="/windy/check" name="questionform" onsubmit="return validateForm()">
        <input type="hidden" value="{{ country }}" name="country">
        <label for="answer" >Sauras-tu deviner dans quel pays se situe ce paysage ?</label>
        <input type="text" id="answer" name="answer" class="field-long" required> <span class="error" id="errorname"></span>
        <button class="rainbow rainbow-1">J'ai trouvé !</button>
    </form>
    <iframe src="{{ iframe_src }}" height="600" width = "750"></iframe>

    <div id="container">
        <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message"><h1 class="alert">Success!</h1><p>yay, everything is working.</p></div>
            <button class="button-box"><h1 class="green">continue</h1></button>
        </div>
        <div id="error-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face2">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth sad"></div>
            </div>
            <div class="shadow move"></div>
            <div class="message"><h1 class="alert">Error!</h1><p>oh no, something went wrong.</div>
            <button class="button-box"><h1 class="red">try again</h1></button>
        </div>
    </div>

{% endblock %}